.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .1);
    border-radius: $border-radius;
    padding: 6rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    & > * {
        transform: skewX(12deg);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        margin-right: 3rem;
        position: relative;
        // note: The course used transforms to move the shape to provide margin.
        // This seems like poor design since it then requires the .story class to account
        // for this arbitrary move which means less code maintability. Why was this
        // recommended?
        // transform: translateX(-3rem);
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden; // Helps odd transformations?
        transition: all .5s;
    }
    
    &__text {

    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden; // Helps shaky glitch on animations
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}